$cyan:    #17a2b8 !default;
$blue:    #0023E6 !default;
$green:   #00C87D !default;
$black:   #0F1419 !default;
$grey:    #F8F8F8 !default;
$red:     #C8005A !default;

.blue {
    background-color: $blue;
}
.green {
    background-color: $green;
}
.black {
    background-color: $black;
}
.grey {
    background-color: $grey;
}
.red {
    background-color: $red;
}
.blue-text {
    color: $blue;
}


.color {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.container
{  
    padding: 75px;
}

.space { margin-top: 50px;}

.icon { height: 50px;
margin: 20px;}
.icon_small { height: 35px; margin: 20px 10px;}

.btn-custom {
    border: 3px solid $blue;
    color: $blue;
    padding: 8px 24px;
    letter-spacing: 3px;
    width: 300px;
    margin-top: 20px;
    background-color: rgba($color: #FFF, $alpha: 0);
}
.btn-custom:hover {
    background-color: $blue;
    color: white;
}
.btn-submit {
    width: 150px;
}
.border {
    border: 2px solid $black;
}

.style-title {
    color: $green;
    letter-spacing: 2px;
    font-size: 16px;
}
.style-subtitle {
    color: $blue;
    letter-spacing: 2px;
    font-size: 16px;
}
.style-detail {
    color: $blue;
    font-size: 16px;
}
.style-number {
    font-size: 36px;
}
.style-watch-detail {
    font-size: 20px;

}

form {
    background-color: $green;
    padding: 50px;
}
label {
    color: $blue;
}
input {
    border: none;
    border-radius: none;
}